body {
    background-color: #181818 !important;
    height: 100%;
    margin: 0;
    font-family: 'EB Garamond', serif;

    a {
        font-size: 16px;

        @media screen and (min-width: 600px) {
            font-size: 20px;
        }

        &.button {
        background-color: #343a40;
        display: inline-block;
        padding: 0.3em 1.2em;
        margin: 0 0.1em 0.1em 0;
        border: 0.16em solid rgba(255,255,255,0);
        border-radius: 2em;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Roboto',sans-serif;
        font-weight: 300;
        color: #FFFFFF;
        text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
        text-align: center;
        transition: all 0.2s;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;


        }

        &.button:hover{
        background-color: #4CAF50; /* Green */
        color: white;


        }

    }

    h2 {
        font-size: 32px;

        @media screen and (min-width: 600px) {
            font-size: 42px;
        }
    }

    p {
        font-size: 16px;

        @media screen and (min-width: 600px) {
            font-size: 20px;
        }
    }

    .navbar {
        display: none;
    }

    section {
        height: 100%;
    }

    #home {

        img {
            border-radius: 50px;
            width: 200px;
        }

        .home-text {
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
            color: white;
            font-weight: bold;
            border: 1px solid #DDDDDD;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
            padding: 20px;
            text-align: center;

            h1 {
                font-size: 34px;
                font-weight: 600;
                color: white;
                letter-spacing: 0px;

                @media screen and (min-width: 600px) {
                    font-size: 50px;
                    letter-spacing: 8px;
                }
            }
        }

        bg-dark {
            background-color: #26282c !important;
            height: 75px;
        }

        #bg-home {
            height: 100%;
            background: url(montreal.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            filter: blur(8px);
            -webkit-filter: blur(8px);
        }
    }
}

    #about {
        height: 800px;

        .container {
            display:none;
            margin: 0 auto;
            padding-top: 0px;
            position: relative;
            width: 336px;
            padding-top: 50px;
            padding-bottom: 20px;

            @media screen and (min-width: 600px) {
                width: 1056px;
            }

            .about-title {
                h2 {
                    margin-bottom: 0px;
                }
            }

            .horizontal-line {
                border: 0;
                height: 1px;
                background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
                margin-top: 15px;
                margin-bottom: 35px;
                width: 300px;
            }

            .about-text {
            }
        }

    }
    /*
    #4ABDAC 
    #FC4A1A
    #F7B733
    #DFDCE3
*/
