body {
  background-color: red;
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; }
  body .navbar {
    display: none; }
  body section {
    height: 1200px; }
  body #home img {
    border-radius: 50px;
    width: 200px; }
  body #home .home-text {
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 1px solid #DDDDDD;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    text-align: center; }
    body #home .home-text h1 {
      font-size: 34px;
      font-weight: 600;
      color: white;
      letter-spacing: 0px; }
      @media screen and (min-width: 600px) {
        body #home .home-text h1 {
          font-size: 50px;
          letter-spacing: 10px; } }
  body #home bg-dark {
    background-color: #26282c !important;
    height: 75px; }
  body #home #bg-home {
    height: 100%;
    background: url(montreal.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: blur(8px);
    -webkit-filter: blur(8px); }

/*
    #4ABDAC 
    #FC4A1A
    #F7B733
    #DFDCE3
*/
